<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hfut.mapper.ProjectManagerMapper">
    <resultMap id="BaseResultMap" type="org.hfut.pojo.ProjectManagerKey">
        <id column="project_id" jdbcType="INTEGER" property="projectId"/>
        <id column="project_people_id" jdbcType="INTEGER" property="projectPeopleId"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    project_id, project_people_id
  </sql>
    <select id="selectByExample" parameterType="org.hfut.pojo.ProjectManagerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
        <include refid="Base_Column_List"/>
        from project_manager
    <if test="_parameter != null">
        <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    <delete id="deleteByPrimaryKey" parameterType="org.hfut.pojo.ProjectManagerKey">
    delete from project_manager
    where project_id = #{projectId,jdbcType=INTEGER}
      and project_people_id = #{projectPeopleId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="org.hfut.pojo.ProjectManagerExample">
        delete from project_manager
    <if test="_parameter != null">
        <include refid="Example_Where_Clause"/>
    </if>
  </delete>
    <insert id="insert" parameterType="org.hfut.pojo.ProjectManagerKey">
    insert into project_manager (project_id, project_people_id)
    values (#{projectId,jdbcType=INTEGER}, #{projectPeopleId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="org.hfut.pojo.ProjectManagerKey">
        insert into project_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="projectId != null">
            project_id,
      </if>
        <if test="projectPeopleId != null">
            project_people_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="projectId != null">
            #{projectId,jdbcType=INTEGER},
      </if>
        <if test="projectPeopleId != null">
            #{projectPeopleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="org.hfut.pojo.ProjectManagerExample" resultType="java.lang.Long">
        select count(*) from project_manager
    <if test="_parameter != null">
        <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update project_manager
    <set>
        <if test="record.projectId != null">
            project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
        <if test="record.projectPeopleId != null">
            project_people_id = #{record.projectPeopleId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
        <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update project_manager
      set project_id = #{record.projectId,jdbcType=INTEGER},
      project_people_id = #{record.projectPeopleId,jdbcType=INTEGER}
    <if test="_parameter != null">
        <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
</mapper>