<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hfut.mapper.model.MaxProjectProfitQueryMapper">
    <resultMap id="baseResultMap" type="org.hfut.model.ProjectProfitData">
        <result property="title" column="title"/>
        <result property="profit" column="profit"/>
        <result property="profitRate" column="profitRate"/>
    </resultMap>

    <select id="selectProjectMaxProfitData" parameterType="map" resultMap="baseResultMap">
        select project.title,income.income - expenditure.expenditure as `profit`,(income.income - expenditure.expenditure)/expenditure.expenditure as`profitRate`
        from (select project.id, project.title,sum(financial_log.num) as `income`,financial_log.type
              from department,
                   project,
                   financial_log,
                   financial_model,
                   financial_detail
              where project.department_id = #{departmentId}
                and
                project.id = financial_model.project_Id
                and
                financial_model.id = financial_detail.financial_model_id
                and
                financial_detail.id = financial_log.financial_detail_id
                and
                financial_model.active = 1
                and
                financial_log.type = 1
                and
                financial_log.time between #{startTime} and #{finishTime}
              group by project.id) as `income`,
             (select project.id,project.title,sum(financial_log.num) as expenditure,financial_log.type
              from department,
                   project,
                   financial_log,
                   financial_model,
                   financial_detail
              where project.department_id = #{departmentId}
                and
                project.id = financial_model.project_Id
                and
                financial_model.id = financial_detail.financial_model_id
                and
                financial_detail.id = financial_log.financial_detail_id
                and
                financial_model.active = 1
                and
                financial_log.type = 2
                and
                financial_log.time between #{startTime} and #{finishTime}
              group by project.id) as `expenditure`,
             project
        where income.id = expenditure.id
          and expenditure.id = project.id
        limit 15
    </select>
</mapper>